@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap');

body {
    margin: 0;
    padding:0;
    font-family: "Wix Madefor Display", sans-serif;
}

.card-pattern {
    /* background-color: #ff8e00;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ff8e00 40px ), repeating-linear-gradient( #ffaf8155, #ffaf81 ); */
    background-color: #fb923c;
    background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

.landing-pattern {
    background-color: #fb923c;
    background-image: url("../src/data/landing-pattern.png");
}

.char {
    @apply translate-y-[115px] transition-transform duration-[0.5s];
}

#title {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

@keyframes show-up {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slideUp {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-10px);
      opacity: 0;
    }
  }
  
  .animate-slide-down {
    animation: slideDown 0.3s ease forwards;
  }
  .animate-slide-up {
    animation: slideUp 0.3s ease forwards;
  }

  @keyframes slideRight {
    0% {
      opacity: 0.5;
      transform: translateX(5px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .animate-slide-right {
    animation: slideRight 0.5s ease forwards;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;